.container {
    padding: 10px;
}

#authpage{
    height: 100vh;
    background: #7B3EFF;
    background: linear-gradient(to bottom, #7B3EFF, #24A5D9);
}

.nav-item{
    transition: all;
    transition-duration: 300ms;
    padding: 5px;
}

.nav-item:hover{
    border-bottom: 1px solid orangered;
    color: orangered;
}

.active{
    color: orangered!important;
}

#homeinfo{
    width: 40%;
}

.form-control{
    margin-top: 10px;
    margin-bottom: 10px;
}

.column-header{
    cursor: pointer; 
    display: flex; align-items: center; justify-content: space-between;
}

.sort-link {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

#transaksi{
    width: 40%;
    margin-left: 15px;
}

#detail_transaksi{
    width: 90%;
    margin-left: 15px;
}

#barang{
    width: 60%;
    margin-left: 15px;
}

#kategori{
    width: 45%;    
    margin-left: 15px;
}