.container {
    padding: 10px;
}

.nav-item{
    transition: all;
    transition-duration: 300ms;
    padding: 5px;
}

.nav-item:hover{
    border-bottom: 1px solid orangered;
    color: orangered;
}

.active{
    color: orangered!important;
}

.searchbar{
    width: 50%;
}

.form-control{
    margin-top: 10px;
    margin-bottom: 10px;
}

#joined-table{
    width: 100%;
    margin-left: 15px;
}

#transaksi{
    width: 30%;
    margin-left: 15px;
}

#detail_transaksi{
    width: 60%;
    margin-left: 15px;
}

#barang{
    width: 60%;
    margin-left: 15px;
}

#kategori{
    width: 35%;    
    margin-left: 15px;
}